@import "./base.scss";

.Login {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .Loader {
        visibility: hidden;
    }

    &.loading {
        .Loader {
            visibility: visible;
        }
    }

    .input-wrapper {
        width: 60%;
        .hint {
            color: var(--mid-primary);
            margin-top: 4px;
            
        }
    }

    .error-message {
        color: var(--red);
    }
}